
layout {
    pane split_direction="vertical" {
        pane size="25%" name="Test"
        pane size="75%" name="Edit" focus=true
    }
    pane {
        pane {
          size "25%"
          name "Term"
    }
  }
}
